body {
    background-color: white; 
    margin: 0; 
    font-family: "Roboto", sans-serif; 
    color:  #673ab7; 
  }
  
  .main-container {
    padding: 20px; 
    min-height: 100vh; 
  }

  video {
    border-radius: 8px;
    color: black;
    width: "50%";
    height: "auto";
    border: '10px solid black'
  }

